# Environnements virtuels
venv/
venv311/
.env/

# Variables d'environnement
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db
Desktop.ini

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db
*.sqlite3
